@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	outline: 0;
}

.container{
	padding-right: 15px;
	padding-left: 15px;
	margin: 0 auto;
	max-width: 1175px;
}
body{
	background:#212121;
	transition: all.3s ease;
	font-family: 'Montserrat', sans-serif;
}
h2{
	text-align: center;
	margin-top: 25px;
	font-size: 30px;
	margin-bottom: 20px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
}
form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	max-width: 380px;
	margin: 0 auto;
}
form > input{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	border:0;
	background:inherit;
	color:#fff;
	font-size: 18px;
		padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom:1px solid #ccc;
}
form > button {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	margin-top: 25px;
	border:0;
	border-radius: 5px;
	background:#f0a10f;
	color:#fff;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30px;
	padding-right: 30px;
	transition: all.3s ease;
	cursor: pointer;
}
form > button:hover{
	background:#ffb62e;
}
small {
	font-size: 14px;
	color:#cacaca;
	margin-top: 4px;
}
.error , .success {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 15px;
}
.error > p {
	color:#d44950;
	font-size: 18px;
}
.success > p{
	color:#21b543;
	font-size: 18px;
}
.dn{
	display: none;
}